:host {
  display: block;
  width: 50%;
  margin: 1rem auto;
}

dl {
  list-style-type: none;
  display: inline;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}
